.container{
    display: inline-block;
}
.image{
    background-image: url("./images/road.jpg");
    height: 300px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}
#sec{
    margin: 15px;
    padding: 5px;
}
#simg{
    border-radius: 20px;
}