*{
    margin: 0;
}
body{
    height: 70vh;
}
h2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
}
.fitem{
    display: flex;
    flex-direction: column;
    
}
img{
    width: 220px;
    height: 220px;
}
.image{
    margin-bottom: 15%;
}
.text{
    margin: 1.5rem 0;
}
.name{
    margin-bottom: 5px;
}
p, h5{
    color: grey;
}